@use "freelancers";
@use "orders";

.sidebar {
  .image {
    i.fas {
      color: white;
      font-size: 34px;
      display: flex;;
      justify-content: center;
      align-items: center;
    }
  }
}